<%= link_to "Back to Users", '/users' %>
<div>
  <div class="d-flex">
    <div class="border col-2">
      <img src=<%= @user.photo %> alt=<%= @user.photo %> srcset="">
    </div>
    <div class="border col-9">
      <h2><%= @user.name %> </h2>
      <p align="right">Number of posts: <%= @user.postscounter %></p>
    </div>
  </div>
  <div class="border col-11">
    <p>Bio</p>
    <p><%= @user.bio %></p>
  </div>
  <hr/>
  <h2>Recent Posts</h2>
  <% @user.recent_posts.each_with_index do |post, index| %>
    <div class="border col-11">
      <p>Post #<%= index + 1 %>: <%= post.title %></p>
      <p><%= post.text %></p>
      <p align="right">Comments: <%= post.comments_counter || 0 %>, Likes:<%= post.likes_counter || 0 %></p>
    </div>
  <% end %>
</div>
<div class="d-grid gap-2 col-3 mx-auto">
  <p class="btn btn-outline-primary shadow" align="center"><%= link_to "See all posts", user_path + '/posts' %></p>
</div>
