<div class="d-flex" id="<%= dom_id user %>">
  <div class="border col-2">
    <img src=<%= user.photo %> alt=<%= user.photo %> srcset="">
  </div>
  <div class="border col-9">
    <h2><%= user.name %> </h2>
    <p align="right">Number of posts: <%= user.postscounter %></p>
  </div>
</div>