<h2>Posts of <%= @user.name %></h2>

<%= link_to "Back to the user", @user_path %>
<%= render "user", user: @user %>

<% @posts.each_with_index do |post, index| %>
  <hr>
  <div class="border col-11">
    <p>Post #<%= index + 1 %>: <%= post.title %></p>
    <p class="wrapp"><%= post.text.split(' ')[0..15].join(' ') %>...</p>
    <p align="right">Comments: <%= post.comments_counter || 0 %>, Likes:<%= post.likes_counter || 0 %></p>
  </div>
  <p>Comments:</p>
  <% post.recent_comments.each do |comment| %>
    <p>
      <%= comment.author.name %>:
      <%= comment.text %>
    </p>
  <% end %>
<% end %>