<%= link_to "See all posts", user_posts_path %>
<% if can? :destroy, @post %>
  <p>can destroy</p>
  <%= button_to "Delete", user_post_path(@post), method: :delete  %>
<% else %>
  <p>cannot destroy</p>
<% end %>
<% if can? :destroy, @like %>
  <p>can destroy</p>
  <%= button_to "Delete", user_post_path(@like), method: :delete  %>
<% else %>
  <p>cannot destroy</p>
<% end %>
<div>
  <div class="d-flex justify-content-between"">
    <div>Post <%= @post.id %> by <%= @post.author.name %></div>
    <div>Comments: <%= @post.comments_counter || 0 %>, Likes: <%= @post.likes_counter || 0 %></div>
  </div>
  <p><%= @post.text %></p>
</div>
<%= link_to "Like", user_post_create_like_path(post_id: params[:id]) %>
<%= link_to "Add new comment", user_post_path + '/comments/new' %>
<div>
  <p>Comments: </p>
  <% @post.comments.each do |comment| %>
    <p><%= comment.author.name %>: <%= comment.text %></p>
  <% end %>
</div>