<%= link_to "See all posts", user_posts_path %>
<div>
  <div class="d-flex justify-content-between"">
    <div>Post <%= @post.id %> by <%= @post.author.name %></div>
    <div>Comments: <%= @post.comments_counter || 0 %>, Likes: <%= @post.likes_counter || 0 %></div>
  </div>
  <p><%= @post.text %></p>
</div>
<%= link_to "Add new comment", user_post_path + '/comments/new' %>
<div>
  <p>Comments: </p>
  <% @comments.each do |comment| %>
    <p><%= comment.author.name %>: <%= comment.text %></p>
  <% end %>
</div>